body {
  text-align: center;
  background-color: #e5e5ff;
}

.column p em {
  font-weight: bold;
}

.column {
  float:left;
  text-align: center;
  margin: 10px;
}

.column img {
  max-height: 150px;
}

.column a {
  text-decoration: none;
  color: green;
  text-shadow: 10px 10px 20px green;
}
